# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore virtual environment
venv/
*.egg-info/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore data files
*.csv
*.xlsx

# Ignore Playwright browser cache
playwright/.cache

node_modules/
gouger/public/data/
