

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(0, 0, 0);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 252, 252);
    --foreground: #ededed;
  }
}

body {
  @apply flex h-screen items-center justify-center text-center;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
