@import "../styles/fonts/satoshi.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for background and text colors */
:root {
  --background: rgb(0, 0, 0);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 252, 252);
    --foreground: #ededed;
  }
}

/* Make sure HTML and Body take full height */
html {
  height: 100%;
  scroll-behavior: smooth
}

body {
  @apply min-h-screen text-left antialiased;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
